@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


body {
  --green: #1DB954;
  --lt-green: #1fd15e;
  --red: #e62c2c;
  --lt-red: #fc4747;
  margin: 0;
  /* padding: 0; */
  background-color: black;
  color: white;
  font-family: DM Sans;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}