
.searchBox {
	display: flex;
	justify-content: space-between;
}

.searchInput {
	width: 65%;
}

.contentBox {
	margin-top: 25px;
}

.reccContentBox {
	margin-top: 15px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.recc {
	width: 23.5%;
	margin-right: 1.5%;
	margin-bottom: 12px;
	background-color: var(--dk-gray);
}


@media screen and (max-width: 50rem) {

	.searchBox {
		width: 100%;
		flex-direction: column;
	}

	.searchBox * {
		margin: auto;
	}

	.searchInput {
		width: 100%;
	}

	.searchBtnBox {
		min-width: 50%;
		margin-top: 15px;
	}

	.reccContentBox {
		justify-content: space-between;
	}

	.recc {
		width: 48%;
	}

}