
.wrapper {
	padding-top: 100px;
}

.subtitle {
	margin-top: 15px;
}

.contentBox {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

.searchBox {
	min-width: 350px;
}

.searchResultsBox {
	margin-top: 15px;
}

.searchMessage {
	margin-top: 15px !important;
}

.buttonBoxWrap {
	display: flex;
	width: 50%;
	height: 100%;
}

.buttonBox {
	display: flex;
	justify-content: flex-start;
}

.vertAlign {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 25px;
}

.content {
	margin-top: 25px;
}

@media screen and (max-width: 50rem) {

	a, button {
		width: 100%;
	}

	.vertAlign {
		flex-direction: row;
		justify-content: center;
		width: 50%;
		margin: auto;
		margin-top: 20px;
	}

	.contentBox {
		width: 100%;
		flex-direction: column;
	}

	.seeProfileBox {
		width: 50%;
		margin: 20px auto 0;
	}

	.buttonBoxWrap {
		width: 100%;
		margin: auto;
	}

	.buttonBox {
		width: 100%;
		margin: auto;
		flex-direction: column;
	}

}