
:root {
	--desktop-width: 50rem;
	--mobile-width: 90%;
}

.wrapper {
	max-width: var(--desktop-width);
	/* padding-top: 100px; */
	margin: auto;
}

@media screen and (max-width: 55.6rem) {

	.wrapper {
		max-width: var(--mobile-width);
	}

}