
.wrapper {
	padding-top: 100px;
}

.header {
	display: flex;
}

.imgBox {
	width: 250px;
	height: 250px;
	border-radius: 9999px;
	flex-shrink: 0;
	overflow: hidden;
	background-color: gray;
}

.profileImg {
	width: 100%;
	height: 100%;
}

.headerBox {
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.headerBox h1 {
	line-height: 1.1;
	margin: 10px 0 10px;
}

.buttonBox {
	width: 35%;
	margin: 25px 0;
	display: flex;
	justify-content: space-between;
}

.followCopyButtonBox {
	margin-top: 20px;
}

.followButton {
	width: 200px;
}

.copyButton {
	width: 200px;
	margin-left: 15px;
}

.current {
	margin-top: 50px;
}

.currentContent {
	margin-top: 10px;
}

.top {
	margin-top: 50px;
	display: flex;
}

.topSection {
	width: 50%;
}

.item {
	margin-top: 15px;
	margin-bottom: 15px;
}

@media screen and (max-width: 50rem) {

	.header {
		flex-direction: column;
		margin: auto;
	}

	.imgBox {
		margin: auto;
	}

	.headerBox {
		margin: 0;
		margin-top: 20px;
		text-align: center;
	}

	.followCopyButtonBox {
		display: flex;
		flex-direction: column;
	}

	.followButton {
		margin: auto;
	}

	.copyButton {
		margin: 20px auto 0;
	}

	.current {
		margin-top: 30px;
	}

	.buttonBox {
		width: 50%;
		height: 100px;
		margin: 25px auto;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.buttonBox button {
		width: 100%;
	}

	.top {
		flex-direction: column;
		margin-top: 0;
	}

	.topSection {
		width: 100%;
		margin-top: 40px;
	}
}