

.track {
	display: flex;
}

.infoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}

.albumBox {
	width: 100px;
	height: 100px;
	background-color: gray;
}

.albumImg {
	width: 100%;
	height: 100%;
}