


.user {
	display: flex;
	justify-content: space-between;
}

.userInfo {
	width: 31%;
	display: flex;
}

.infoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 15px;
}

.imgBox {
	width: 100px;
	height: 100px;
	border-radius: 9999px;
	flex-shrink: 0;
	overflow: hidden;
	background-color: gray;
}

.profileImg {
	width: 100%;
	height: 100%;
}

.userLink {
	text-decoration: none;
	color: white;
	transition: 0.25s;
	word-break: break-word;
}

.userLink:hover {
	color: var(--green);
}

.nowBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 31%;
}

.nowLabel {
	margin-bottom: 5px;
}

.recentBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 31%;
}

.recentLabel {
	margin-bottom: 10px;
}

.recentContent {
	display: flex;
	flex-wrap: wrap;
}

.recentItem {
	margin-right: 5px;
	margin-bottom: 5px;
}

.recentArtistImgBox {
	width: 35px;
	height: 35px;
	border-radius: 9999px;
	flex-shrink: 0;
	overflow: hidden;
	background-color: gray;
}

.recentImg {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 50rem) {

	.user {
		flex-wrap: wrap;
	}

	.userInfo {
		width: 50%;
	}

	.nowBox {
		width: 45%;
	}

	.recentBox {
		width: 100%;
		/* margin: auto; */
		margin-top: 10px;
	}

	.recentLabel {
		margin: auto;
		margin-bottom: 10px;
	}

	.recentContent {
		justify-content: center;
	}

}